

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background: #E5E5E5;
}

.comp.d-flex{
    margin-bottom: 287px;
}























