
.back-box{
    list-style: none;
    margin-top: 120px;
    margin-bottom: 24px;
    width: 1180px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-text{
    font-size: 24px;
    line-height: 29px;
    color: #192B58;
    padding-left: 58px;
    
}




















