
.check-box{
    background-color: #fff;
    position: relative;
    width: 261px;
    height: 377px;
}

.check-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 108.5px;
    margin-bottom: 79px;
}

.btn{
    width: 214px;
    height: 44px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 32px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

.parag{
    font-size: 16px;
    line-height: 19px;
    color: #192B58;
    margin-left: 57px;
    margin-right: 56px;
    margin-top: 12.5px;
}

















