footer{
    padding-top: 69px;
    padding-bottom: 32px;
    padding-left: 370px;
    padding-right: 370px;
    background: #192B58;
    color: #fff;
}

.box-2{
    margin-left: 80px;
    margin-right: 430px;
}

footer img{
    margin-right: 16px;
}

.text{
    font-size: 14px;
    line-height: 17px;
    color: #A6F2F7;
    
}

.number{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}































