.navbar-brand{
    padding: 12px 20px;
    font-size: 24px;
    color: #5B4906;
    background-color: yellow;
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    cursor: pointer;
}

.navbar{
    background: #192B58;
    padding: 12px 374px;
}

.nav.d-flex{
    display: flex;
    align-items: center;
    
   
}

.navbar-name{
    color:#fff;
    font-size: 14px;
    line-height: 17px;
    margin-left: 867px;
    display: flex;
    align-items: center;
}

.ixti{
    padding-left: 16px;
    margin-right: 12px;
    cursor: pointer;
}






