
.list-wrapper1{
    width: 261px;
    height: 377px;
    background: #fff;
    margin-right: 24px;
}

.list-group{
   width: 100%;
}

.list-group-item{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
    cursor: pointer;
}





















